
<h2>Comment:</h2>
<sub>Remember to be kind to other users.</sub>
<form class="" action="/comments/new/<%=@post_id%>" method="post">
  <textarea name="content" rows="8" cols="80" placeholder="Write here..."></textarea>
  <br>
  <input type="submit" name="submit" value="Comment!">
</form>
<% if flash.has?(:message) %>
  <h4><%= flash[:message] %></h4>
<% end %>
