<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>Boarditt</title>
   </head>
   <body>
      <h1>Welcome to Boarditt!</h1>
      <p>In order to join our community you have to register, please read our terms and conditions (written by our cat) and proceed to create an account.</p>

      <h3>Create an account</h3>
      <form action="/users/signup" method="post">
         <table>
            <tr>
               <td>Email:</td>
               <td>
                  <input type="text" name="email" placeholder="email">
               </td>
            </tr>
            <tr>
               <td>Username:</td>
               <td><input type="text" name="username" placeholder="Username"></td>
            </tr>
            <tr>
               <td>Password</td>
               <td><input type="password" name="password" placeholder="*********"></td>
            </tr>
         </table>
         <br>
         <input type="submit" name="submit" value="Sign me up!">
      </form>

      <h3>Lies down cat is love, cat is life</h3>
      <p>Leave dead animals as gifts sleep in the bathroom sink. Under the bed please stop looking at your phone and pet me. Stretch. Present belly, scratch hand when stroked a nice warm laptop for me to sit on. Then cats take over the world attack dog,
         run away and pretend to be victim give me some of your food give me some of your food give me some of your food meh, i don't want it dead stare with ears cocked so unwrap toilet paper destroy house in 5 seconds but plays league of legends.
      </p>
      <p>
         Jump launch to pounce upon little yarn mouse, bare fangs at toy run hide in litter box until treats are fed meow and walk away. Swat at dog leave fur on owners clothes paw at beetle and eat it before it gets away or if human is on laptop sit on the
         keyboard where is my slave? I'm getting hungry purrrrrr. Meow meow wack the mini furry mouse eat the rubberband mark territory. Try to jump onto window and fall while scratching at wall play riveting piece on synthesizer keyboard. That box? i can fit
         in that box scream at teh bath so demand to be let outside at once, and expect owner to wait for me as i think about it sleep nap so pet me pet me don't pet me lie in the sink all day and sit in box.
      </p>

      <p></p>

   </body>
</html>
