<h1>Posts</h1>
<%Post.all.each do |post|%>
  <ul>
    <li>
      <a href="/posts/<%=post.id%>"><%=post.title%></a>
      -
      <a href="/user/<%post.user.id%>"><%=post.user.username%></a>
    </li>
  </ul>
<%end%>
