<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>Boarditt</title>
   </head>
   <body>
      <div class="container">
        <h1>Welcome to Boarditt!</h1>
      </div>

   </body>
</html>
